<html>
<html lang="vi-vn">
<meta charset="utf-8" />
<head>
    <span style="font-family:Arial">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">
</head>

<body>
        <center><h2>Our Team</h2></center>   
		<br>		
		<div class="row">
		
			<div class="column">
				<div class="card">
					<img src="" style="width:100%;height:350px">
						<div class="container">
							<h2>To Viet Anh</h2>
								<p class="title">Team Leader</p>
								<p></p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Hochiminh City, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>  <br><br>
		
			<div class="column">
				<div class="card">
					<img src="" style="width:100%;height:350px">
						<div class="container">
							<h2>Nguyen On Ngoc Bao</h2>
								<p class="title">Member</p>
								<p></p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Hochiminh City, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div> 
			</div>  <br><br>

			<div class="column">
				<div class="card">
					<img src="" style="width:100%;height:350px">
						<div class="container">
							<h2>Le Quoc Thinh</h2>
								<p class="title">Team Member</p>
								<p></p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Hochiminh City, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>  <br><br>
			
			<div class="column">
				<div class="card">
					<img src="" style="width:100%;height:350px">
						<div class="container">
							<h2>An Minh Hung</h2>
								<p class="title">Team Member</p>
								<p></p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Hochiminh City, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div> <br><br>
			
			<div class="column">
				<div class="card">
					<img src="" style="width:100%;height:350px">
						<div class="container">
							<h2>Dang Xuan Truong</h2>
								<p class="title">Team Member</p>
								<p></p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Hochiminh City, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>   <br><br>
			
			<div class="column">
				<div class="card">
					<img src="" style="width:100%;height:350px">
						<div class="container">
							<h2>Dang Quoc Tung</h2>
								<p class="title">Team Mentor</p>
								<p></p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Da Nang, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>  <br><br>
			
			<div class="column">
				<div class="card">
					<img src="" style="width:100%;height:350px">
						<div class="container">
							<h2>Tran Thi Thuy Nga</h2>
								<p class="title">Team Buddy</p>
								<p></p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Da Nang, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>  <br><br>
   
		</div>
</body>
</html>